
.products {
    display: flex;
}
.task2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 7px 0 7px;
    padding: 15px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 10px;
}

.div1{
    font-size: 10px;
    margin: 7px 0px 7px 0px;
}
.div2{
    font-size: 10px;
    margin: 7px 0px 7px 0px;
}
.div3{
    font-size: 20px;
    font-weight: 700;
    margin: 7px 0px 7px 0px;
}